@font-face {
	font-family: 'smart_kid';
	src: url('fonts/smart_kid.otf')
		format('opentype');
}
body {
 background: radial-gradient(#FFFFFF, #BDBDBD);
}

#title {
	text-align:center;
	font-family:smart_kid;
}
#logo{
	text-align:center;
}
.button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}
h1 {
	font-family: 'smart_kid'
}

#layer1{
    text-align:center;
}
#layer2{
	text-align:center;
}
#footer{
	text-align:center;
}


